* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar,
.foot {
  background-color: #e9ecef;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 25px 50px;
  margin-bottom: 30px;
}
.cart {
  position: relative;
  background-color: #393d3f;
  color: #fffaff;
  padding: 5px;
  border-radius: 6px;
  font-size: large;
}
.amount {
  position: absolute;
  background-color: #ff0000;
  color: #fffaff;
  padding: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: -12px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop {
  display: grid;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  grid-template-columns: repeat(4, 220px);
  gap: 50px;
  justify-content: center;
}
.itemcard {
  border: solid #393d3f;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.price-quantity {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
img {
  width: 100%;
  height: 55%;
  background-size: contain;
  border-radius: 3px 3px 0 0;
}
.btn {
  display: flex;
  gap: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #393d3f;
}

.text-center {
  width: 100%;
  height: 100%;
  text-align: center;
}

.home,
.pay,
.cancel {
  background-color: #393d3f;
  color: #fffaff;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 140px;
  height: 50px;
}

.shopkart {
  display: grid;
  grid-template-columns: repeat(1, 400px);
  margin: 15px;
  gap: 15px;
  margin-bottom: 100px;
  justify-content: center;
}

.cart-item {
  border: 3px solid #393d3f;
  border-radius: 8px;
  display: flex;
}

.cart-item img {
  height: 100%;
  width: 100%;
}
.info {
  margin: 10px 5px 10px 5px;
  height: 200px;
  padding: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.price-x {
  width: 245px;
  padding-top: 9px;
  padding-bottom: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.price-t {
  display: flex;
  width: auto;
  align-items: center;
  gap: 5px;
}
.price-k {
  background-color: #393d3f;
  color: #fffaff;
  padding: 5px;
  margin-left: 15px;
  border-radius: 8px;
}
.dtf {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30%;
  height: 30px;
}
.pay,
.cancel {
  border-radius: 8px;
}
.pay {
  background-color: #70e000;
}
.cancel {
  background-color: #ff0000;
}
.bi-dash-circle:hover,
.bi-x-circle:hover {
  color: #ff0000;
}
.bi-plus-circle:hover {
  color: #70e000;
}
footer {
  position: absolute;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
}

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 220px);
  }
  footer {
    position: absolute;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 220px);
  }
  footer {
    position: absolute;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  footer {
  }
}
