* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar,
.foot {
  background-color: #e9ecef;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 25px 50px;
  margin-bottom: 30px;
}
.cart {
  position: relative;
  background-color: #393d3f;
  color: #fffaff;
  padding: 5px;
  border-radius: 6px;
  font-size: large;
}
.amount {
  position: absolute;
  background-color: #ff0000;
  color: #fffaff;
  padding: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: -12px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop {
  display: grid;
  height: 100%;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 30px;
  grid-template-columns: repeat(4, 220px);
  gap: 25px;
  justify-content: center;
}
.itemcard {
  border: solid #393d3f;
  width: 220px;
  border-radius: 6px;
}

.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
img{
 border-radius: 6px 6px 0 0;
}
.btn {
  display: flex;
  gap: 10px;

}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

footer {
  position: absolute;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  padding: 20px;
}

@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 220px);
  }
  footer {
    position: absolute;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 220px);
  }
  footer {
    position: absolute;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 1000px) {
  footer {
    bottom: 0;
  }
}
