body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

a:visited {
  color: inherit;
}
/* navbar styles */
.nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 5px 50px;
  /* margin-bottom: 30px; */
  align-items: center;
  background-color: #0085ff;
}

.logo {
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainLinks {
  /* border: solid; */
  display: flex;
  width: 35rem;
  justify-content: space-between;
}
.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 8rem;
  height: 2rem;
  border-radius: 15px;
  border: none;
}
.navBtn a {
  text-align: center;
  text-decoration: none;

  width: 100%;
}
/* hero section */

.hero {
  /* img needs a gradient */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/last-project/assets/imgs/matthew-feeney-Nwkh-n6l25w-unsplash.jpg);
  background-size: cover;
  height: 91vh;
}
.heroText h1 {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 900;
}
/* us */
.us {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 91vh;
  margin: 0px 30px 0px 30px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
}
.usImg img {
  border-radius: 20px;
}
.usImg img,
.usInfo {
  width: 650px;
}

.usInfo {
  background-color: #f8f9fa;
  border-radius: 20px;
  padding: 15px;
  width: 450px;
  font-size: 20px;
}
.usInfo h3 {
  font-size: 28px;
}

/* offers */
.subscriptions {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 91vh;
  margin: 0px 30px 0px 30px;
}
.freeInfo,
.paidInfo {
  background-color: #f8f9fa;
  border-radius: 30px 30px 0px 0px;
  padding: 30px 30px 0px 30px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 500px;
}
.subBtn {
  display: flex;
  text-align: center;
}
.subBtn a {
  text-decoration: none;
  background-color: #f8f9fa;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.subBtn a:hover {
  color: #ffffff;
  letter-spacing: 3px;
  background-color: #0085ff;
}
/* featured */

.featured {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 91vh;
  margin: 0px 30px 0px 30px;
}
/* mailList */
.mailList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 91vh;
  border: solid;
  margin: 0px 30px 0px 30px;
}

footer {
  background-color: #0085ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
