*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-weight: 550;
}

body {
  padding: 0;
  margin: 0;
  background-color: #dee2e6;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;

  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2.5rem;
  border: 1px solid #0b090a;
  outline: none;
  background-color: #caf0f8;
}
.calculator > button:hover {
  background-color: #48cae4;
}
.big {
  grid-column: span 2;
}

.screen {
  grid-column: 1 / -1; /* from first column to the last one */
  background-color: #0b090a;
  opacity: 0.9;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}
.previous {
  color: #dee2e6;
  opacity: 0.7;
  font-size: 1.2rem;
}
.current {
  color: #dee2e6;
  font-size: 2rem;
  font-weight: 900;
}
